---
import Main from "../layouts/MainLayout.astro";
import Markdown from "../components/Markdown.astro";
import CopyRight from "../components/misc/CopyRight.astro";
import Comments from "../components/Comment";


// <Comments client:only="react" />
interface Props {
  title?: string;
  subTitle?: string;
  bannerImage?: string;
  published?: Date;
  license?: {
    name: string;
    url?: string;
  };
  author?: string;
  sourceLink?: string;
}

const {
  title,
  subTitle,
  bannerImage,
  published,
  license,
  author,
  sourceLink,
} = Astro.props;
---

<Main title={title} subTitle={subTitle} bannerImage={bannerImage}>
  <!-- <Fragment set:html={tocHTMLString} /> -->
  <div class="article-wrapper">
    <div class="article">
      <Markdown>
        <slot />
      </Markdown>
      {
        published && title && (
          <CopyRight
            title={title}
            published={published}
            license={license}
            author={author}
            sourceLink={sourceLink}
          />
        )
      }
    </div>
    <Comments client:only="react" />
  </div>
  
</Main>

<style>
  .article-wrapper {
    @apply mx-3 rounded-2xl bg-[var(--card-color)] px-5 py-6 lg:mx-0 lg:px-10 lg:py-9;
  }
  .article {
    @apply flex flex-col;
    font-size: var(--primary-font);
  }

  .giscus {
      
  }
  
</style>
<script src="https://giscus.app/client.js"
          data-repo="Yichan521/Chanke_Blog"
          data-repo-id="R_kgDOOAzARA"
          data-category="Announcements"
          data-category-id="DIC_kwDOOAzARM4Cndlp"
          data-mapping="title"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="zh-CN"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>